<!doctype html>
{% load static %}
<head>
	<title>{% block title %}Hemepath{% endblock %}</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/png" href="{% static 'labeller/images/favicon.ico' %}"/>

    <!-- <link rel="stylesheet" href="{% static 'labeller/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">
    <script src="{% static 'labeller/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'labeller/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>

    <script src="{% static 'labeller/ajax_setup.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'labeller/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'labeller/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
    <script src="{% static 'labeller/popper.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="{% static 'labeller/ajax_setup.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'labeller/style2.css' %}">
    {% block head %} {% endblock head %}

</head>

<body>


<!-- Navigation -->

<nav class="navbar navbar-expand-md navbar-dark plum ">
	<div class="container-fluid ">
{% comment %}		<a class="navbar-brand" href="{% url 'labeller:index' %}"><img src="{% static 'labeller/images/HemeLogo1.png' %}"></a>
{% endcomment %}
        <div class="navbar-brand">HemeLabel</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'labeller:index' %}">Home</a></li>

                {% if user.is_authenticated %}
                <script>console.log("User is:", '{{user}}')</script>
                <li class="nav-item"><a class="nav-link" href="{% url 'labeller:diagnoses' %}">Diagnoses</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'labeller:slides' %}">Slides</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'labeller:regions' %}">Regions</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'labeller:projects' %}">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'labeller:logout' %}?next={% url 'labeller:index' %}">Logout</a></li>
              
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'labeller:login' %}?next={% url 'labeller:index' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'labeller:register' %}">Sign Up</a></li>
                
                {% endif %}

			</ul>

		</div>

 	</div>
</nav>



{% block content %} {% endblock content %}
</body>
<footer>
    <div class="container-fluid plum">
        <div class="row text-center">
            <div class="col-12">
                <!-- <hr class="light-100"> -->
                <h5 class="copy_text">&copy; G. Goldgof<h5>
            </div>
    
        </div>
    </div>
    
</footer>

<!-- <footer>
    <div class="container bg-dark">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; Gregory M. Goldgof</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-light">Terms of Use</a> 
                <span class="text-muted mx-2">|</span> 
                <a href="#" class="text-light">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer> -->


{% block scripts %} {% endblock scripts %}



