{% extends 'labeller/base2.html' %} {% load static %} 
{% block title %}Diagnoses{% endblock %} 

{% block content %}
<script>
  var ref = "{{diagnosis_counts_json}}".replace(/&quot;/gi, '"');
  var diagnosis_counts = $.parseJSON(ref);
  // console.log(diagnosis_counts);
</script>

<div class="container-fluid">
  <div class="text-center p-4"><h2>Diagnoses ({{diagnoses|length}})</h2></div>

  {% for diagnosis in diagnoses %}
  <div class="d-flex flex-row">
    <p class="p-2">
      {{diagnosis.name}} ({{diagnosis.abbreviation}})
      <span id="dx_count_{{diagnosis.abbreviation}}"></span>
      <script>
        $("#dx_count_{{diagnosis.abbreviation}}").html('(n='+diagnosis_counts['{{diagnosis.name}}'] +')')
        

// AJAX way to do it - not currently in use/needed
        {% comment %} $.get("/get_number_of_slides_with_diagnosis_name/",
          {'diagnosis_name':'{{diagnosis.name}}'},
          function(json){
            console.log('get_number_of_slides_with_diagnosis_name callback');
            if(json['success'] == true) {
                $("#dx_count_{{diagnosis.abbreviation}}").html('(n='+json['diagnosis_count'] +')')
            }
          }); {% endcomment %}
      </script>
    </p>
    <a href="/diagnosis/{{diagnosis.pk}}/" class="btn btn-primary p-2"
      ><i class="bi-arrow-right-circle-fill"></i
    ></a>
  </div>
  <hr />
  {% empty %}
  <p id="no_diagnoses">No diagnoses have been added yet.</p>
  {% endfor %}
</div>

{% endblock %}
