{% extends "labeller/base2.html" %}
{% load static %}

{% block title %}Label Slide{% endblock %}

{% block content %}
<script src="{% static 'labeller/Cell.js' %}"></script>
<script src="{% static 'labeller/CellCounter.js' %}"></script>
<script src="{% static 'labeller/Region.js' %}"></script>

<!-- <h3 id="slide_banner">Slide</h3> -->
<h2>Region Selector</h2>
<div class="container-fluid">
{% include "labeller/partials/slide_viewer.html" %}
</div>

<script src="{% static 'labeller/Diagnosis.js' %}"></script>
<div class="container-fluid slide_box pb-3">
	{% include "labeller/partials/slide_diagnoses.html" %}

	{% include "labeller/partials/cell_summary2.html" %}
</div>
<span class="p-2"></span>

<!-- Regions -->
{% include "labeller/partials/region_list.html" %}


<!-- Cells -->
<h2>Cells ({{cells|length}})</h2>
{%   include "labeller/partials/main_lineages_horizontal.html" %}
</div>

<script>
$(document).ready(function() {
	console.log('diagnosis.html: ready')
 	Cell.addCellLabelKeyboardEventListeners();
});
</script>

{% endblock content %}

