<!-- <p id="additional_instructions">Press left and right arrows to change cell</p>
<p id="additional_instructions">Click on cell to select it, or to create a new cell</p>
 -->
<!-- <h2 class="horizontal_list_category">Hematopoietic Lineage Lists</h2> -->

<h2 id="h2_unlabelled">Unlabelled</h2>
<div id="unlabelled_cells_inline" class="inline_cells"></div>

<h2 id="h2_myeloid">Myeloid</h2>
<div id="myeloid_cells_inline" class="inline_cells"></div>

<h2 id="h2_lymphoid">Lymphoid</h2>
<div id="lymphoid_cells_inline" class="inline_cells"></div>

<h2 id="h2_erythroid">Erythroid</h2>
<div id="erythroid_cells_inline" class="inline_cells"></div>

<h2 id="h2_megakaryocytic">Megakaryocytic</h2>
<div id="megakaryocytic_cells_inline" class="inline_cells"></div>

<h2 id="h2_misc">Miscelaneous</h2>
<div id="misc_cells_inline" class="inline_cells"></div>

<!-- <h2 class="horizontal_list_category">Specific Cell Type Lists</h2> -->
<div id="celltype_inline_container"></div>


{% load static %}
<!-- <script src="{% static 'labeller/Cell.js' %}"></script>
 -->
<script>
console.log('entering horizontal_cells.html javascript');

class HorizontalCellList {

	
	static nextCell(offset) {
    console.log('entering next cell');

		if (offset !=1 && offset != -1){
			console.log("Error in HorizontalCellList:nextCell - wrong offset", offset);
			return false;
		}

    if ($('.clicked_cell').length==0) {
        console.log('No clicked_cell in HorizontalCellList.nextCell')
        return;
      }
    if ($('.clicked_cell').length>1){
        console.log('Too many clicked_cell objects in HorizontalCellList.nextCell', $('.clicked_cell'))
        return;
    }

    var cell = $('.clicked_cell')

		{% comment %} if (cell.siblings.length == 0) {
			console.log("cell has no siblings")
			return false;
		
		} {% endcomment %}

		if (offset == 1 && cell.next().length ==1) {
//				var current_cell = cell.next();
				var cid = Cell.getCIDfromDivID(cell.next()[0]);
				Cell.selectCellByCID(cid);
        cell.removeClass('clicked_cell');
        cell.next().addClass('clicked_cell');
				return;
			}

			else if (offset == -1 && cell.prev().length ==1) {
				var cid = Cell.getCIDfromDivID(cell.prev()[0]);
				Cell.selectCellByCID(cid);
        cell.removeClass('clicked_cell');
        cell.prev().addClass('clicked_cell');
				return;
		}

		return;
	}

	static addKeyboardEventListeners(){
    {% comment %} window.addEventListener('keydown', function(e) {
      if(e.key === 'r' && e.ctrlKey) {
        e.preventDefault();
    }
    }); 
	{% endcomment %}
    window.addEventListener('keydown', function(e) {
      if(e.keyCode == 32 && e.target == document.body) {
        e.preventDefault();
      }
    });

			window.addEventListener('keyup', (e) => {
        console.log('horizontal key pressed event in main_lineages_horizontal');
       

				var code = e.code;
        
				switch(code) {
					
					case "ArrowLeft": HorizontalCellList.nextCell(-1);  break;
					case "ArrowRight": HorizontalCellList.nextCell(1); break;
					//case "Enter": nextRegion(); break;
          case "Space": HorizontalCellList.selectFirstUnlabelledCell(); break;
          case "Backslash": Cell.deleteCellByCID(Cell.currentCellCID()); break;
				}
			});
	}

	static cellListItemClickHandler(jq_obj){
		console.log("this item was clicked on", jq_obj);
		var cid = Cell.extractCIDFromJQueryObjectID(jq_obj);
    console.log($('.clicked_cell'))
 		Cell.selectCellByCID(cid);
    $('.clicked_cell').removeClass('clicked_cell');
    jq_obj.addClass('clicked_cell');
	}


	static selectFirstUnlabelledCell(){
		if ($(".cell_list_item.unlabelled").first().length>0){
			var cid = Cell.extractCIDFromJQueryObjectID($(".cell_list_item.unlabelled").first());
			Cell.selectCellByCID(cid);
      $('.clicked_cell').removeClass('clicked_cell');
      $(".cell_list_item.unlabelled").first().addClass('clicked_cell');
		}
	}

	static populateCellLists (cells_json, cell_types_json){
		//console.log('entering populatCellList', cells_json, cell_types_json);
		// console.log('entering populatCellList');
		var cells = Cell.LoadCellsFromJson(cells_json, cell_types_json);
		
    console.log('cells', cells)
		var counter = 1;
		for (var key in cells) {
			var cell = cells[key];
			console.log(cell)
			var cid = cell.getCID();
			var cell_div = cell.getDivForCellList();
			var jq_obj = $("#"+cell.getLineage()+"_cells_inline").append(cell_div);

			var jq_obj_celltype = $("#"+cell.cell_type+"_cells_inline").append(cell_div);
      //console.log(jq_obj, jq_obj_celltype)
		}

		$('.cell_list_item').on('click', function (){
			HorizontalCellList.cellListItemClickHandler($(this))
		});
    Cell.UpdateHorizontalCellCounts();
	}

	static addCellClassHorizontalRows() {
		for (var key in Cell.classLabelDict) {
			//console.log('meow', key, Cell.classLabelDict[key])
			var temp_div = '<h2 id="h2_'+key+'">'+Cell.classLabelDict[key]+'</h2><div id="'+key+'_cells_inline" class="inline_cells"></div>'
			$("#celltype_inline_container").append(temp_div);
		}
	}


}

$ (document).ready(function() {
	HorizontalCellList.addCellClassHorizontalRows();
	if ('{{cells_json}}'!='none') {		
	 	var cells_json = '{{cells_json}}';	 
	 	var celltypes_json = '{{celltypes_json}}';	
	 	// console.log('main_lineages_horizontal ready cells_json', cells_json)
		// console.log('main_lineages_horizontal ready celltypes_json', celltypes_json)
	 	// console.log(celltypes_json)
 		// HorizontalCellList.addCellClassHorizontalRows();
 		HorizontalCellList.populateCellLists(cells_json, celltypes_json);
 		//Cell.UpdateHorizontalCellCounts();
 		HorizontalCellList.addKeyboardEventListeners();
 		HorizontalCellList.selectFirstUnlabelledCell();
	}
});
</script>

