<!-- UNDER CONSTRUCTION -->
{% load static %}

<script src="{% static 'labeller/Diagnosis.js' %}"></script>
<script>
var diagnoses = []
</script>
<p class="text-capitalize">
{% for dx in slide.diagnoses.all %}
  Diagnosis: {{dx.name}} ({{dx.abbreviation}}) &nbsp &nbsp &nbsp
  <script>
    diagnoses.push(new Diagnosis('{{dx.name}}', '{{dx.abbreviation}}'))
  </script>  
{% empty %}
  Diagnosis: None
</p>  

{% endfor %}
<form id="form_slide_pk_{{slide.sid}}" class="dx_form"> 
     <select name="dx_options" id="dx_options"placeholder="No diagnosis">
        <option value="none" selected></option>
        {% for dx_option in dx_options %}
        <option value="{{dx_option}}">{{dx_option}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Add Diagnosis">
  </form>

<script>
  
  // this is the id of the form
  $(".dx_form").submit(function(e) {
    e.preventDefault();
    chosen_diagnosis = $('#dx_options').val()
    console.log(diagnoses)
    for (var i=0; i<diagnoses.length; i++) {
      if (diagnoses[i].isDiagnosisChoiseEquivalent(chosen_diagnosis)) {
        console.log("this slide already has this diagnosis")
        return;
      }
    }

    var sid = $(".dx_form").attr('id').substr(("form_slide_pk_".length));
    Diagnosis.submitDiagnosisForSlideAJAX(chosen_diagnosis, sid)
  });

</script>
